|\/|erkava Corp
.writen1{
text-align:center;
padding-top:30px;
padding-bottom:30px;

}


.numbe1{
text-align:center;
padding-top:30px;
padding-bottom:30px;
}
.numbe2{
text-align:center;

}


.buton1{
text-align:center;
padding-top:30px;

}
.buton1 button{
background-color:#00FF00;
color:#4B0082;

}
.buto1{
border-radius:40px;
border:0;

font-size:1rem;
font-weight:600;
margin:rem 0;
padding:2rem 3rem;
text-transform:uppercase;
white-space:nowrap;

}
#res{
  background-color:white;
  
}
#namer{
 border-radius: 40px; 
 font-size: 20px;
  border:3px solid red;
}
#number1{
  font-size: 20px;
  border:3px solid blue;
}
#number2{
  font-size: 20px;
  border:3px solid green;
}
.buto2{
  border-radius:40px;
border:0;

font-size:1rem;
font-weight:600;
margin:rem 0;
padding:2rem 3rem;
text-transform:uppercase;
white-space:nowrap;
  
}
.buton2 button{
background-color:blue;
color:#FFF;

}
.buton2{
  text-align:center;
  padding-top:30px;
  
}
.buton3 button{
 background-color: Yellow; 
  color:black;
}
.buto3{
    border-radius:40px;
border:0;

font-size:1rem;
font-weight:600;
margin:rem 0;
padding:2rem 3rem;
text-transform:uppercase;
white-space:nowrap;
  
}
.buton3{
 text-align:center; 
 padding-top:30px;
  
}


.buton4{
  text-align:center;
  padding-top:30px;
}
.buton4 button{
  background-color:Red;
  color:aqua;
}
.buto4{
    border-radius:40px;
border:0;

font-size:1rem;
font-weight:600;
margin:rem 0;
padding:2rem 3rem;
text-transform:uppercase;
white-space:nowrap;
  
}